* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

.hidden {
    display: none;
}

.box {
    width: 1200px;
}

a {
    text-decoration: none;
    color: #5F9BCE;
}

.contacto_atag {
    color: black;
}

.english_language {
    display: none;
}



/***************************menu-start*********************************/

@keyframes fadeSkewM {
    from {
        opacity: 0;
        transform: rotateZ(180deg);
    }

    to {
        opacity: 1;
        transform: rotateZ(0deg);
    }
}

@keyframes fadeSkewX {
    from {
        opacity: 0;
        transform: rotateZ(0deg);
    }

    to {
        opacity: 1;
        transform: rotateZ(180deg);
    }
}


@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.menuclosebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#menubtn,
#closebtn {
    width: 20px;
    font-weight: bold;
    cursor: pointer;
    /* border: 1px solid red; */
}

#menubtn {
    animation: fadeSkewM 0.3s linear alternate;
}

#closebtn {
    animation: fadeSkewX 0.3s linear alternate;
}

.header_main-menu_ul {
    width: 650px;
    font-size: 18px;
    position: absolute;
    top: 50px;
    /* border: 2px solid red; */
    box-shadow: 0px 0px 5px 0px gray;
    animation: fadeInDown 0.3s linear alternate;
}


.header_main-menu_ul a {
    list-style-type: none;
    text-decoration: none;
    display: block;
    color: #5F9BCE;
    /* border: 1px solid red; */
    background-color: #ffffff;
    border-bottom: 2px solid lightgray;
    padding: 10px 20px;
}

.header_main-menu_ul a:hover {
    display: block;
    box-shadow: 0px 0px 5px 0px gray;
}

/***************************menu-end*********************************/


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: px 0px;
    box-shadow: 0px 0px 5px 0px gray;
    background-color: #ffffff;
    /* border: 2px solid blue; */
    color: #5F9BCE;
    font-size: 17px;
    position: sticky;
    top: 0;
    z-index: 1000;
    /* gap: 10px; */
}

.header_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
}

.header_box_top {
    background-color: #5F9BCE;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_logo {
    width: 200px;
}

.header_address_phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.header_address_phone a {
    display: flex;
    align-items: center;
    gap: 6px;
    /* border: 1px solid red; */
}

.social-links-top {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 28px;
    list-style-type: none;
}

@keyframes scrollDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.scroll-down-animation {
    animation: scrollDown 1s ease-in-out;
}

.header_address,
.header_number {
    color: #ffffff;
}

.header_address img,
.header_number img {
    height: 16px;
}

.header_leftside {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 22px;
    font-weight: bold;
}

.header_language {
    display: flex;
    align-items: center;
    justify-self: center;
    font-weight: bold;
    /* border: 2px solid red; */

}

.header_language_button {
    display: flex;
    align-items: center;
    justify-self: center;
    text-align: center;
    flex-direction: column;
    padding: 20px 5px;
    border: 1px solid transparent;
    font-weight: bold;
    width: 135px;
    cursor: pointer;
    background-color: #5F9BCE;
    color: #ffffff;
    gap: 3px;
    border-radius: 0.20cm;
    box-shadow: 1px 2px 5px 0px gray;
    /* flex-wrap: wrap; */
    /* border: 2px solid red; */
}


.header_language img {
    width: 20px;
}


.header_rightside {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    /* flex-wrap: wrap; */
    /* border: 1px solid red; */
}

.header_rightside_span {
    display: flex;
    align-items: center;
    gap: 10px;
    /* border: 1px solid red; */
}


.logo_poster {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.logo_poster_div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.appointment {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 10000;
}

.appointment_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.appointment_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    border: 1px solid #5F9BCE;
    padding: 50px;
    border-radius: 0.5cm;
    background-color: whitesmoke;
    box-shadow: 0px 0px 80px 100px gray;
}

.appointment_form input,
.appointment_form textarea,
.appointment_form select {
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 0.25cm;
}

.appointment_form input:active,
.appointment_form textarea:active,
.appointment_form button:active {
    background-color: lightblue;
}

.appointment_form input:focus,
.appointment_form textarea:focus,
.appointment_form button {
    border: 1px solid #5F9BCE;
    outline: none;
}

.appointment_form button {
    padding: 15px;
    border: 1px solid gray;
    background-color: lightgray;
    border-radius: 0.25cm;
    cursor: pointer;
}

.close-btn_div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 13px;
    background-color: #5F9BCE;
    border-radius: 50%;
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: -20px;
}


.close-btn_div:active {
    background-color: darkorange;
}

.more_services {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./moreservices_bg02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.more_services_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 50px 0px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 0px 10px black;
    gap: 10px;
}

.more_services_list button {
    padding: 20px 30px;
    border: 1px solid transparent;
    background-color: #5F9BCE;
    font-size: 25px;
    font-weight: bold;
    border-radius: 0.5cm;
    cursor: pointer;
    box-shadow: 1px 1px 5px 0px gray;
}

.more_services_list button:active {
    background-color: darkorange;
    color: #ffffff;
}



.services {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    /* border: 1px solid red; */
}

.services_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.sevices_list {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 30px;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}

.sevices_list h3 {
    padding-bottom: 10px;
}

.sevices_list_div {
    /* border: 1px solid red; */
    padding: 40px 20px 30px 40px;
    width: 380px;
    height: 340px;
    border-radius: 0.5cm;
    background-color: #00008b80;
    color: #ffffff;
    box-shadow: 1px 1px 5px 0px gray;
    /* text-shadow: 0px 0px 10px black; */
}

.sevices_list_div_gm {
    background-image: url(General-medicine.jpg);
    background-image: linear-gradient(155deg, #00000080, #5F9BCE), url(General-medicine.jpg);
    /* background: linear-gradient(215deg, #20f5a9, #1a59c8); */
    background-position: center;
    background-size: cover;
}

.sevices_list_div_lt {
    background-image: url(laboratory-test.jpg);
    background-image: linear-gradient(155deg, #00000080, #5F9BCE), url(laboratory-test.jpg);
    background-position: center;
    background-size: cover;
}


.clinica {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.clinica_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0px 10px 0px;
    gap: 20px;
}

.clinica_header {
    font-size: 56px;
    font-weight: bold;
    color: #5F9BCE;
}


.clinica_address {
    line-height: 23px;
}


.clinica_button {
    padding: 18px 55px;
    color: #ffffff;
    background-color: #5F9BCE;
    border: 1px solid transparent;
    cursor: pointer;
}

.clinica_button:hover {
    background-color: lightslategray;
}

.clinica_text {
    padding-top: 50px;
}


/*********************************comments_Css-start*************************************/


.testimonios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0px;
    gap: 20px;
    background-color: #ededed;
    /* border: 1px solid red; */
}

.testimonios_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.testimonios_header {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.fa-star {
    /* color: orange; */
    color: #FBBC04;
    font-size: 14px;
}


.testimonios_comments_parent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 50px;
    /* border: 1px solid red; */
}

.testimonios_comments {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    width: 80%;
    line-height: 22px;
}

.testimonios_comments_rating {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.testimonios_comments_rating_year {
    display: flex;
    gap: 20px;
}

.testimonios_comments_rating_year p {
    color: gray;
}


.fa-ellipsis-vertical {
    font-size: 18px;
    padding-top: 13px;
    cursor: pointer;
}

.testimonios_comments_name {
    font-weight: bold;
    color: #5F9BCE;
}

.testimonios_comments_arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 170px;
}


.testimonios_comments_left_arrow_button {
    position: fixed;
    left: 8%;
}


.testimonios_comments_right_arrow_button {
    position: fixed;
    right: 8%;
}


.arrow_button {
    cursor: pointer;
    font-size: 38px;
    color: #5F9BCE;
}

.arrow_button:active {
    color: #FBBC04;
}

.testimonios_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: bold;
    color: #5F9BCE;
    text-decoration: underline;
    cursor: pointer;
    flex-wrap: wrap;
}

.testimonios_footer span:hover {
    color: lightslategray;
}


/*********************************comments_Css-end*************************************/



.galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0px;
    gap: 20px;
}

.galeria_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.galeria_header {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.galeria_images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    flex-wrap: wrap;
}

.galeria_images img {
    width: 380px;
    width: 80%;
    height: 550px;
}

.galeria_images_buttons {
    display: flex;
    gap: 8px;
}

.photos_button {
    padding: 5px;
    background-color: lightgray;
    border: 1px solid #5F9BCE;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    top: -35px;
}


.comunicate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0px;
    gap: 20px;
}

.comunicate_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.comunicate_header {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 20px;
}

.contacto_box {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}

.contacto_section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 220px;
}

.contacto_header {
    font-weight: bold;
    font-size: 20px;
}

.contacto_button {
    padding: 18px 55px;
    color: #ffffff;
    background-color: #5F9BCE;
    border: 1px solid transparent;
    cursor: pointer;
}

.contacto_button:hover {
    background-color: lightslategray;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0px;
    color: gray;
    /* border: 2px solid blue; */
}

.footer_box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* border: 1px solid red; */
}

.footer_text {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    color: gray;
    font-size: 12px;
    gap: 10px;
    /* border: 1px solid red; */
}


@media (max-width: 1200px) {
    .box {
        width: 100%;
        padding: 0px 30px;
    }

    .more_services_list {
        padding: 30px;
    }

    .appointment_form {
        padding: 30px;
    }

    .clinica_box {
        padding: 50px 30px;
    }

    .header_rightside {
        gap: 20px;
    }

    .header_main-menu_ul {
        width: 80%;
    }
}



@media (max-width: 950px) {
    .header_address_phone {
        display: none;
    }

    .header_address_phone.active {
        display: flex;
    }
}



@media (max-width: 800px) {
    .galeria_images img {
        width: 90%;
        height: 400px;
    }
}

@media (max-width: 700px) {
    .header_rightside {
        gap: 10px;
    }

    .header {
        font-size: 15px;
    }

    .header_leftside {
        gap: 15px;
        font-size: 18px;
    }

}

@media (max-width: 600px) {
    .header_rightside {
        gap: 5px;
    }

    .header_leftside {
        gap: 10px;
    }

    .galeria_images img {
        width: 90%;
        height: 300px;
    }

}


@media (max-width: 500px) {
    .header_box {
        padding: 10px;
    }

    .header {
        padding: 10px;
    }

    .logo_poster_div {
        padding: 0px;
    }

    .testimonios_comments {
        width: 100%;
    }


    .testimonios_comments_left_arrow_button {
        left: 4.5%;
    }


    .testimonios_comments_right_arrow_button {
        right: 4.5%;
    }

}


@media (max-width: 450px) {

    .clinica_header {
        font-size: 48px;
    }


    .galeria_images,
    .photos {
        /* border: 1px solid red; */
        width: 100%;
        padding: 0px;
    }

    .comunicate_map {
        padding: 0px;
    }

    .header_leftside {
        gap: 4px;
    }

    .header_box {
        padding: 10px 0px;
    }


}
